{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <h1>{{ entity.nombrePlat }}</h1>

    <table class="record_properties">
        
                  <div align="left"><h4><u>Juegos en estas plataformas</u> </h4>
                    
                 {% for plats in entity.platjue %}
            
                 <a href="{{ path('juegos_show', { 'id': plats.id }) }}">{{ plats.tituloJue }}</a>
                     <br>
                 {% endfor %}  
                 </div>
       
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('plataforma') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('plataforma_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
