{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h2>{{ entity.nombrePlat }}</h2></center>

    <table class="record_properties">
        
                  <div id="plat"><h2><u>Juegos en estas plataformas</u> </h2>
                    
                 {% for plats in entity.platjue %}
            
                 <a href="{{ path('juegos_show', { 'id': plats.id }) }}">{{ plats.tituloJue }}</a>
                 <br><br>
                 {% endfor %}  
                 </div>
       
    </table>
<div id="edit">
        <ul class="record_actions">
            <h4>Administración</h4>
    
    <li>
        <a href="{{ path('plataforma_edit', { 'id': entity.id }) }}">
            Editar plataforma
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
