<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset ('bundles/unijuegos/css/fuente.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="cabecera">
            {% block cabecera %}
                <h1><font color="#CBCBFD" size="30"><img src="{{ asset('bundles/unijuegos/imagenes/mando.png') }}"width=40px height=40px>Games</font></h1>
                <h3>
                    <ul id="nav">
        <li id="nav-1"><a href="{{ path('juegos') }}">Juegos</a></li>
	<li id="nav-2"><a href="{{ path('categorias') }}">Categorias</a></li>
	<li id="nav-3"><a href="{{ path('plataforma') }}">Plataformas</a></li>
        <li id="nav-4"><a href="{{ path('noticias') }}">Noticias</a></li>
        <li id="nav-5"><a href="{{ path('juegos_buscar_juego') }}">Buscar Juego</a></li>
        <li id="nav-5"><a href="{{ path('categorias_buscar_categoria') }}">Buscar Categoria</a></li>
                    </ul>
                </h3>
            {% endblock %}
        </div>
       
         <div id="cuerpo">
            {% block cuerpo %}{% endblock %}
        </div>
        
         <div id="pie">
            {% block pie %}
                <h6><font color="#CBCBFD">
                    CONTACTO -> ivanesfc@hotmail.com
                    <br>
                    SITIO WEB -> juegos.com
                    <br>
                    CENTRO -> uni Eibar-Ermua
                    </font></h6>
            {% endblock %}
        </div>
    </body>
</html>
