{% extends 'uniJuegosBundle::layout.html.twig' %}

{% block cuerpo %}
    
    <h1>Listado de categorias {{titulo}}:</h1>
 <tbody>
        {% for entity in entities %}
            
            
        <h2><a href="{{ path('categorias_show', { 'id': entity.id }) }}">{{ entity.nombreCat }}</a></h2>
              
        <h6>{{ entity.descCat }} </h6>
               <br> 
       {% endfor %}
                
                <div id="edit">
    
        <ul>
        <li>
            <a href="{{ path('categorias_buscar_categoria') }}">
                Volver
            </a>
        </li>
    </ul>
</div>
                
                
                
                
        
        {% endblock %}
