{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <h1>{{ entity.nombreCat }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <td>{{ entity.descCat }}</td>
            </tr>
            <tr>
                <td>
                    <div align="right"><h4><u>Juegos: </u> </h4>
                    
                 {% for jue in entity.catjues %}
            
                 <a href="{{ path('juegos_show', { 'id': jue.id }) }}">{{ jue.tituloJue }}</a>
                     <br>
             {% endfor %}  
                 </div>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorias') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
