{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h2>{{ entity.nombreCat }}</h2></center>

    
                   <div id="texto">
                   {{ entity.descCat }}
                   </div>
              
            
                
                    <div id="noti"><h4><u>Juegos: </u> </h4>
                    
                 {% for jue in entity.catjues %}
            
                 <a href="{{ path('juegos_show', { 'id': jue.id }) }}">{{ jue.tituloJue }}</a>
                     <br>
             {% endfor %}  
                 </div>
       
<div id="edit">
        <ul class="record_actions">
    <h4>Administración</h4>
    <li>
        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">
            Editar categoría
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
