{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h2>Noticias</h2></center>

    
    
        {% for entity in entities %}
            {% if loop.index <="4" %}
            <div class="{{'col'~ loop.index}}">
            <h3>
                <a href="{{ path('noticias_show', { 'id': entity.id }) }}">{{ entity.tituloNot }}</a>
            </h3>    
                
                <img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.fotoNot  ~ '') }}" width=300px height=125px/>
            </div>     
            
            {% elseif loop.index > "4" %}
                <div class="col5">
                    <br>
                    <h3>
                <a href="{{ path('noticias_show', { 'id': entity.id }) }}">{{ entity.tituloNot }}</a>
            </h3>    
                
                <img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.fotoNot  ~ '') }}" width=300px height=125px/>
                </div> 
            {% endif %}    
        {% endfor %}
        
    
<div id="edit">
        <ul>
        <li>
            <a href="{{ path('noticias_new') }}">
                Añadir una nueva noticia
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
