{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h1>{{ entity.tituloNot }}</h1></center>

    
       
                <div id="texto">
                    <br>
                {{ entity.textoNot }}
                <br><br>
                </div>
                <br>
                
                <center><img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.fotoNot  ~ '') }}" width=500px height=300px/></center>
           
              
      
<div id="edit">
        <ul class="record_actions">
    <h4>Administración</h4>
    <li>
        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
