{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    
    
               
                <center><h2>{{ entity.tituloJue }}</h2></center>
                         
            
                <div id="texto">
                    <br>
                {{ entity.descJue }}
                    <br><br>
                </div>
                <br>
            
                    <center><img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.fotoJue  ~ '') }}" width=700px height=400px/>
                
            <div id="notas">
                    Desarrolladora ->
                     
                     <i>{{ entity.compJue }}</i>
                     
                     <br>
            
                    Categoria -> 
            
                
                    {{ entity.juecat.nombreCat }}                      
                     
                    <br>
                        
                    
                    Plataformas -> 
                    {% for plat in entity.jueplat %}
                
                        -{{ plat.nombrePlat }}<br>
                    {% endfor %}
                     
                    
            
            </div>
            
            
                    <div id="noti"><h4><u>Noicias relacionadas </u></h4>
                    
                 {% for noti in entity.juenots %}
            
                 <a href="{{ path('noticias_show', { 'id': noti.id }) }}">{{ noti.tituloNot }}</a>
                     <br>
                 {% endfor %}  
                    </div>
                 <br>
   
                 
<div id="edit">
        <ul class="record_actions">
    <li>
        <a href="{{ path('juegos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('juegos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
