{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    
    <table class="record_properties">
        <tbody>
           
            <tr>
               
                <td><center><h1>{{ entity.tituloJue }}</h1></center></td>
            </tr>
             
            <tr>
                
                <td>{{ entity.descJue }}</td>
            </tr>
              
            <tr>
                <td>
                    <center><img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.fotoJue  ~ '') }}" width=700px height=400px/>
                </td>   
            </tr>
            <tr>
                <td><div align="right">Desarrolladora -><i>{{ entity.compJue }}</i></div></td>
            </tr>
            <tr>
                    <td><div align="right">Categoria -> 
            
                
                    {{ entity.juecat.nombreCat }}                      
                     
                    </td>
                        </div>
            </tr>
            </tbody>
    </table>
            
                    <div align="left"><h4><u>Noicias relacionadas </u> </h4>
                    
                 {% for noti in entity.juenots %}
            
                 <a href="{{ path('noticias_show', { 'id': noti.id }) }}">{{ noti.tituloNot }}</a>
                     <br>
             {% endfor %}  
                 </div>
                 <br><br>

        <ul class="record_actions">
    <li>
        <a href="{{ path('juegos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('juegos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
